[workspace]
members = [
    "sbp",
    "webfront",
    "multigrid",
    "euler",
    "maxwell",
    "shallow_water",
    "gridgeneration",
    "heat-equation",
]

default-members = ["sbp", "euler", "maxwell", "shallow_water"]

[profile.bench]
debug = true

[profile.release]
debug = true
