[package]
name = "diffsolver"
version = "0.1.1"
authors = ["Magnus Ulimoen <flymagnus@gmail.com>"]
edition = "2018"


[workspace]
members = [
    "sbp",
    "webfront",
    "multigrid",
    "euler",
    "maxwell",
    "shallow_water",
]

[profile.bench]
debug = true

[profile.release]
debug = true

[patch]
[patch.crates-io]
hdf5 = { git = "https://github.com/mulimoen/hdf5-rust.git", branch = "master" }
sprs = { git = "https://github.com/vbarrielle/sprs.git" }
