[package]
name = "webgl"
version = "0.1.0"
authors = ["Magnus Ulimoen <flymagnus@gmail.com>"]
edition = "2018"

[lib]
crate-type = ["cdylib", "rlib"]

[features]
default = ["console_error_panic_hook", "wee_alloc"]

[dependencies]
wasm-bindgen = "*"
console_error_panic_hook = { version = "*", optional = true }
wee_alloc = { version = "*", optional = true }

[profile.release]
opt-level = "s"
lto = "full"
