[package]
name = "sbp"
version = "0.1.1"
authors = ["Magnus Ulimoen <flymagnus@gmail.com>"]
edition = "2018"

[lib]
crate-type = ["cdylib", "rlib"]

[features]
default = ["console_error_panic_hook", "wee_alloc"]

[dependencies]
wasm-bindgen = "0.2.54"
console_error_panic_hook = { version = "0.1.6", optional = true }
wee_alloc = { version = "0.4.5", optional = true }
ndarray = { version = "0.13.0", features = ["approx"] }
approx = "0.3.2"
packed_simd = "0.3.3"

[profile.release]
opt-level = 3
lto = "thin"
debug = true

[dev-dependencies]
criterion = "0.3.0"

[[bench]]
name = "maxwell"
harness = false

[[bench]]
name = "euler"
harness = false

[profile.bench]
debug = true
