[package]
name = "sbp"
version = "0.1.1"
authors = ["Magnus Ulimoen <flymagnus@gmail.com>"]
edition = "2018"

[dependencies]
ndarray = { version = "0.13.1", features = ["approx"] }
approx = "0.3.2"
packed_simd = "0.3.3"
rayon = { version = "1.3.0", optional = true }
sprs = { version = "0.9.0", optional = true, default-features = false }
num-traits = "0.2.11"
serde = { version = "1.0.115", optional = true, default-features = false, features = ["derive"] }

[features]
# Use f32 as precision, default is f64
f32 = []
sparse = ["sprs"]
serde1 = ["serde", "ndarray/serde"]

[dev-dependencies]
criterion = "0.3.2"

[[bench]]
name = "sbpoperators"
harness = false
