[package]
name = "sbp"
version = "0.1.1"
authors = ["Magnus Ulimoen <flymagnus@gmail.com>"]
edition = "2018"

[dependencies]
ndarray = { version = "0.13.0", features = ["approx"] }
approx = "0.3.2"
packed_simd = "0.3.3"
json = "0.12.4"
rayon = { version = "1.3.0", optional = true }

[features]
# Internal feature flag to gate the expensive tests
# which should be run only in release builds
expensive_tests = []
# Use f32 as precision, default is f64
f32 = []

[dev-dependencies]
criterion = "0.3.1"

[[bench]]
name = "maxwell"
harness = false

[[bench]]
name = "euler"
harness = false
